* {
    margin: 0;
    padding: 0 ;

}

.body-home {
    background-color: $colorbg;
}
.body-galeria {
    background-color: $colorbgg;
}
.body-productos{
    background-color:$colorbgp;
}
.body-servicios{
    background-color: $colorbgs;
}


