footer a {
    color: $colorfooter;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.redes {
    @extend %redes;
}