

.nav-link:hover {
    background-color: $colorfont;
    transform: scale(1.2);
    
    ul {
        text-decoration: none;
        list-style-type: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        a {
            color: $colorfooter;
        }
    }
}
.nav-home {
    background-color: $colornav;
}

.nav-galeria {
    background-color: $colornavg;

}
.nav-productos{
    background-color: $colornavp;
}
.nav-servicios{
    background-color: $colornavs;
}
.nav-contacto{
    background-color: $colornavc;

}


