.nav-home {
    background-color: $colornav;
}

.nav-link:hover {
    background-color: $colorfont;
    transform: scale(1.2);
    
    ul {
        text-decoration: none;
        list-style-type: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        a {
            color: black;
        }
    }
}
.nav-galeria {
    background-color: $colornavg;
}



