h3 {
    background-color: $color-secundario;
   
    &:hover {
        background-color: lighten($color-secundario, 5%);
    }
    
}

h1 {
    background-color: $color-primario;

    &:hover {
        background-color: darken($color-primario, 20%);
    }
}

.h1-galeria{
    background-color: $colorh1g;
    &:hover {
            background-color: darken($color-terciario, 20%);
        }
}
.h1-productos {
    background-color: $colorh1p;

    &:hover {
        background-color: lighten($color-cuarto, 20%);
    }
}
.h1-servicios {
    background-color: $colorh1s;

    &:hover {
        background-color: darken($color-quinto, 25%);
    }
}
.h-galeria{
    border: 1px solid $colorfooter;
    text-align: center;
}
h4{
    font-size: medium;
}
.list-group-item{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: $colorbgs;
}
