/*color home*/
$colorbg:#d7fff5;
$colornav: #2499c7;
$colorlink: #cdffff;
$colorfont: white;
$colorfooter: black;

/*color galeria*/
$colorbgg:#fffbee;
$colornavg: #ff999d;
$colorlinkg:#fffb98;
$colorh1g:#ffc18f;

