/*color home*/
$colorbg:#d7fff5;
$colornav: #2499c7;
$colorlink: #cdffff;
$colorfont: white;
$colorfooter: black;

/*color galeria*/
$colorbgg:#fffbee;
$colornavg: #ff999d;
$colorlinkg:#fffb98;
$colorh1g:#ffc18f;

/*color productos*/
$colorbgp:#c8f0bd;
$colornavp:#66bb00;
$colorh1p:#aaed9e;

/*color servicios*/
$colorbgs:#ffffcc;
$colornavs:#fffd5c;
$colorh1s: #fcff85;


