/*color home*/
$colorbg:hsl(240, 68%,91%);
$colornav: hsl(240, 68%, 70%);
$colorlink: hsl(240,68%, 96%);
$colorfont: white;
$colorfooter: black;

/*color galeria*/
$colorbgg:hsl(15, 86%, 95%);
$colornavg:hsl(0, 86%, 80%);
$colorlinkg:hsl(20, 86%, 97%);
$colorh1g:hsl(30, 86%, 80%);

/*color productos*/
$colorbgp: hsl(120, 26%, 87%);
$colornavp:hsl(120, 39%, 50%);
$colorh1p: hsl(120, 55%, 85%);

/*color servicios*/
$colorbgs:hsl(60, 80%, 80%);
$colornavs:hsl(60, 68%, 60%);
$colorh1s: #fcff85;

/*color contacto*/
$colorbgc: #ebd39a;
$colornavc:#946b32;
$colorh1c:#c79846;

