%redes{
    border: 1px solid $colorfooter;
    border-radius: 200px;
    
}

%envios{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $colorfooter;
}
